@page "/SampleData";
@inject IDatabaseConnection connection;
@inject IDataProvider<UserModel> users;

<h3>Sample Data</h3>

<button class="btn btn-primary" @onclick="CreateArchLeaders">
    Create Arch Leaders
</button>

@code {
    private async Task CreateArchLeaders()
    {
        await users.Add(new UserModel {
            Name = "ArchLeaders",
            DisplayName = "Arch Leaders",
            Email = "archleadership28@gmail.com"
        });
    }
}
